---
http_interactions:
- request:
    method: get
    uri: https://api.flickr.com/services/rest/?api_key=<FLICKR_API_KEY>&format=json&method=flickr.photos.search&nojsoncallback=1&tags=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Public-Key-Pins-Report-Only:
      - max-age=2592000; pin-sha256="2fRAUXyxl4A1/XHrKNBmc8bTkzA7y4FB/GLJuNAzCqY=";
        pin-sha256="I/Lt/z7ekCWanjD0Cvj5EqXls2lOaThEA0H2Bg4BT/o="; pin-sha256="Wd8xe/qfTwq3ylFNd3IpaqLHZbh2ZNCLluVzmeNkcpw=";
        pin-sha256="WoiWRyIOVNa9ihaBciRSC7XHjliYS9VwUGOIud4PB18="; pin-sha256="i7WTqTvh0OioIruIfFR4kMPnBqrS2rdiVPl/s2uC/CY=";
        pin-sha256="r/mIkG3eEpVdm+u/ko/cwxzOMo1bk4TyHIlByibiA5E="; pin-sha256="uUwZgwDOxcBXrQcntwu+kYFpkiVkOaezL0WYEZ3anJc=";
        pin-sha256="dolnbtzEBnELx/9lOEQ22e6OZO/QNb6VSSX2XHA3E7A="; includeSubdomains;
        report-uri="http://csp.yahoo.com/beacon/csp?src=yahoocom-hpkp-report-only"
    body:
      encoding: ASCII-8BIT
      string: '{"photos":{"page":1,"pages":9107,"perpage":100,"total":"910688","photo":[{"id":"46285614975","owner":"68751857@N05","secret":"1641cc9663","server":"7867","farm":8,"title":"66745","ispublic":1,"isfriend":0,"isfamily":0},{"id":"46285612725","owner":"68751857@N05","secret":"2d2ce3d6c0","server":"7815","farm":8,"title":"66745","ispublic":1,"isfriend":0,"isfamily":0},{"id":"40235078843","owner":"94523300@N07","secret":"c4237547df","server":"7900","farm":8,"title":"Rising
        Peak","ispublic":1,"isfriend":0,"isfamily":0},{"id":"33324323158","owner":"94523300@N07","secret":"157e92ecf5","server":"7818","farm":8,"title":"Balancing
        Rock","ispublic":1,"isfriend":0,"isfamily":0},{"id":"33324311418","owner":[...]
