---
http_interactions:
- request:
    method: get
    uri: https://api.giphy.com/v1/gifs/search?api_key=<GIPHY_API_KEY>&q=Mostly%20cloudy%20until%20evening&rating=g
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Hour:
      - '42'
      X-Ratelimit-Remaining-Hour:
      - '39'
      X-Ratelimit-Limit-Day:
      - '1000'
      X-Ratelimit-Remaining-Day:
      - '997'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"type":"gif","id":"63xBFHKNVjZlu","slug":"dark-castle-63xBFHKNVjZlu","url":"https:\/\/giphy.com\/gifs\/dark-castle-63xBFHKNVjZlu","bitly_gif_url":"https:\/\/gph.is\/13FiiZM","bitly_url":"https:\/\/gph.is\/13FiiZM","embed_url":"https:\/\/giphy.com\/embed\/63xBFHKNVjZlu","username":"","source":"https:\/\/professorsx.tumblr.com\/post\/54926278972\/k-miyu-the-pirates-in-an-adventure-with","rating":"y","content_url":"","source_tld":"professorsx.tumblr.com","source_post_url":"https:\/\/professorsx.tumblr.com\/post\/54926278972\/k-miyu-the-pirates-in-an-adventure-with","is_sticker":0,"import_datetime":"2013-07-24
        19:29:51","trending_datetime":"1970-01-01 00:00:00","images":{"fixed_height_still":{"url":"https:\/\/media2.giphy.com\/media\/63xBFHKNVjZlu\/200_s.gif","width":"556","height":"200"},"original_still":{"url":"https:\/\/media2.giphy.com\/media\/63xBFHKNVjZlu\/giphy_s.gif","width":"500","height":"180"},"fixed_width":{"url":"https:\/\/media2.giphy.com\/media\/63xBFHKNVjZlu\/200w.gif","width":"200","height":"72","size":"100541","mp4":"https:\/\/media2.giphy.com\/media\/63xBFHKNVjZlu\/200w.mp4","mp4_size":"12347","webp":"https:\/\/media2.giphy.com\/media\/63xBFHKNVjZlu\/200w.webp","webp_size":"38194"},"fixed_height_small_still":{"url":"https:\/\/media2.giphy.com\/media\/63xBFHKNVjZlu\/100_s.gif","width":"278","height":"100"},"fixed_height_downsampled":{"url":"https:\/\/media2.giphy.com\/media\/63xBFHKNVjZlu\/200_d.gif","width":"556","height":"200","size":"303219","webp":"https:\/\/media2.giphy.com\/media\/63xBFHKNVjZlu\/200_d.webp","webp_size":"38820"},"preview":{"width":"500","height":"180","mp4":"https:\/\/media2.giphy.com\/media\/63xBFHKNVjZlu\/giphy-preview.mp4","mp4_size":"38800"},"fixed_height_small":{"url":"https:\/\/media2.giphy.com\/media\/63xBFHKNVjZlu\/100.gif","width":"278","height":"100","size":"398724","mp4":"https:\/\/media2.giphy.com\/media\/63xBFHKNVjZlu\/100.mp4","mp4_size":"134123","webp":"https:\/\/media2.giphy.com\/media\/63xBFHKNVjZlu\/100.webp","webp_size":"55174"},"downsized_still":{"url":"https:\/\/media2.giphy.com\/media\/63xBFHKNVjZlu\/giphy-downsized_s.gif","width":"500","height":"180","size":"45510"},"downsized":{"url":"https:\/\/media2.giphy.com\/media\/63xBFHKNVjZlu\/giphy-downsized.gif","width":"500","height":"180","size":"982106"},"downsized_large":{"url":"https:\/\/media2.giphy.com\/media\/63xBFHKNVjZlu\/giphy.gif","width":"500","height":"180","size":"982106"},"fixed_width_small_still":{"url":"https:\/\/media2.giphy.com\/media\/63xBFHKNVjZlu\/100w_s.gif","width":"100","height":"36"},"preview_webp":{"url":"https:\/\/media2.giphy.com\/media\/63xBFHKNVjZlu\/giphy-preview.webp","width":"483","height":"174","size":"48354"},"fixed_width_still":{"url":"https:\/\/media2.giphy.com\/media\/63xBFHKNVjZlu\/200w_s.gif","width":"200","height":"72"},"fixed_width_small":{"url":"https:\/\/media2.giphy.com\/media\/63xBFHKNVjZlu\/100w.gif","width":"100","height":"36","size":"100541","mp4":"https:\/\/media2.giphy.com\/media\/63xBFHKNVjZlu\/100w.mp4","mp4_size":"36809","webp":"https:\/\/media2.giphy.com\/media\/63xBFHKNVjZlu\/100w.webp","webp_size":"14592"},"downsized_small":{"width":"500","height":"180","mp4":"https:\/\/media2.giphy.com\/media\/63xBFHKNVjZlu\/giphy-downsized-small.mp4","mp4_size":"38800"},"fixed_width_downsampled":{"url":"https:\/\/media2.giphy.com\/media\/63xBFHKNVjZlu\/200w_d.gif","width":"200","height":"72","size":"58287","webp":"https:\/\/media2.giphy.com\/media\/63xBFHKNVjZlu\/200w_d.webp","webp_size":"10260"},"downsized_medium":{"url":"https:\/\/media2.giphy.com\/media\/63xBFHKNVjZlu\/giphy.gif","width":"500","height":"180","size":"982106"},"original":{"url":"https:\/\/media2.giphy.com\/media\/63xBFHKNVjZlu\/giphy.gif","width":"500","height":"180","size":"982106","frames":"24","mp4":"https:\/\/media2.giphy.com\/media\/63xBFHKNVjZlu\/giphy.mp4","mp4_size":"25800","webp":"https:\/\/media2.giphy.com\/media\/63xBFHKNVjZlu\/giphy.webp","webp_size":"130220"},"fixed_height":{"url":"https:\/\/media2.giphy.com\/media\/63xBFHKNVjZlu\/200.gif","width":"556","height":"200","size":"398724","mp4":"https:\/\/media2.giphy.com\/media\/63xBFHKNVjZlu\/200.mp4","mp4_size":"11326","webp":"https:\/\/media2.giphy.com\/media\/63xBFHKNVjZlu\/200.webp","webp_size":"148758"},"looping":{"mp4":"https:\/\/media2.giphy.com\/media\/63xBFHKNVjZlu\/giphy-loop.mp4","mp4_size":"3796141"},"original_mp4":{"width":"480","height":"172","mp4":"https:\/\/media2.giphy.com\/media\/63xBFHKNVjZlu\/giphy.mp4","mp4_size":"25800"},"preview_gif":{"url":"https:\/\/media2.giphy.com\/media\/63xBFHKNVjZlu\/giphy-preview.gif","width":"167","height":"60","size":"47679"},"480w_still":{"url":"https:\/\/media0.giphy.com\/media\/63xBFHKNVjZlu\/480w_s.jpg","width":"480","height":"173"}},"title":"mostly
        cloudy dark GIF","_score":758.38684,"analytics":{"onload":{"url":"https:\/\/giphy_analytics.giphy.com\/simple_analytics?response_id=5c7424d158454a416ba77594&event_type=GIF_SEARCH&gif_id=63xBFHKNVjZlu&action_type=SEEN"},"onclick":{"url":"https:\/\/giphy_analytics.giphy.com\/simple_analytics?response_id=5c7424d158454a416ba77594&event_type=GIF_SEARCH&gif_id=63xBFHKNVjZlu&action_type=CLICK"},"onsent":{"url":"https:\/\/giphy_analytics.giphy.com\/simple_analytics?response_id=5c7424d158454a416ba77594&event_type=GIF_SEARCH&gif_id=63xBFHKNVjZlu&action_type=SENT"}}},{"type":"gif","id":"YdUdx8jPIKhxe","slug":"storm-cloud-cool-landscape-YdUdx8jPIKhxe","url":"https:\/\/giphy.com\/gifs\/storm-cloud-cool-landscape-YdUdx8jPIKhxe","bitly_gif_url":"https:\/\/gph.is\/1mdCLe3","bitly_url":"https:\/\/gph.is\/1mdCLe3","embed_url":"https:\/\/giphy.com\/embed\/YdUdx8jPIKhxe","username":"","source":"https:\/\/tu[...]
[...]
- request:
    method: get
    uri: https://api.giphy.com/v1/gifs/search?api_key=<GIPHY_API_KEY>&q=Partly%20cloudy%20throughout%20the%20day&rating=g
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Hour:
      - '42'
      X-Ratelimit-Remaining-Hour:
      - '41'
      X-Ratelimit-Limit-Day:
      - '1000'
      X-Ratelimit-Remaining-Day:
   [...]
- request:
    method: get
    uri: https://api.giphy.com/v1/gifs/search?api_key=<GIPHY_API_KEY>&q=Partly%20cloudy%20until%20afternoon&rating=g
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Hour:
      - '42'
      X-Ratelimit-Remaining-Hour:
      - '39'
      X-Ratelimit-Limit-Day:
      - '1000'
      X-Ratelimit-Remaining-Day:
      - [...]
- request:
    method: get
    uri: https://api.giphy.com/v1/gifs/search?api_key=<GIPHY_API_KEY>&q=Mostly%20cloudy%20until%20afternoon&rating=g
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Hour:
      - '42'
      X-Ratelimit-Remaining-Hour:
      - '38'
      X-Ratelimit-Limit-Day:
      - '1000'
      X-Ratelimit-Remaining-Day:
      - [...]
- request:
    method: get
    uri: https://api.giphy.com/v1/gifs/search?api_key=<GIPHY_API_KEY>&q=Light%20snow%20%201%20in%20in%20the%20morning&rating=g
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Hour:
      - '42'
      X-Ratelimit-Remaining-Hour:
      - '38.409444444444'
      X-Ratelimit-Limit-Day:
      - '1000'
      X-Ratelimit-[...]
- request:
    method: get
    uri: https://api.giphy.com/v1/gifs/search?api_key=<GIPHY_API_KEY>&q=Mostly%20cloudy%20in%20the%20morning&rating=g
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Hour:
      - '42'
      X-Ratelimit-Remaining-Hour:
      - '40'
      X-Ratelimit-Limit-Day:
      - '1000'
      X-Ratelimit-Remaining-Day:
      -[...]
- request:
    method: get
    uri: https://api.giphy.com/v1/gifs/search?api_key=<GIPHY_API_KEY>&q=Snow%2012%20in%20until%20afternoon&rating=g
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Hour:
      - '42'
      X-Ratelimit-Remaining-Hour:
      - '39'
      X-Ratelimit-Limit-Day:
      - '1000'
      X-Ratelimit-Remaining-Day:
      - '[...]
