---
http_interactions:
- request:
    method: get
    uri: https://api.giphy.com/v1/gifs/search?api_key=<GIPHY_API_KEY>&q=denver,co&rating=g
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Hour:
      - '42'
      X-Ratelimit-Remaining-Hour:
      - '39.406666666667'
      X-Ratelimit-Limit-Day:
      - '1000'
      X-Ratelimit-Remaining-Day:
      - '997'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"type":"gif","id":"oVaFnyYbeNlQ5gV8NW","slug":"theglitchmob-oVaFnyYbeNlQ5gV8NW","url":"https:\/\/giphy.com\/gifs\/theglitchmob-oVaFnyYbeNlQ5gV8NW","bitly_gif_url":"https:\/\/gph.is\/2O1rgQw","bitly_url":"https:\/\/gph.is\/2O1rgQw","embed_url":"https:\/\/giphy.com\/embed\/oVaFnyYbeNlQ5gV8NW","username":"theglitchmob","source":"","rating":"g","content_url":"","source_tld":"","source_post_url":"","is_sticker":0,"import_datetime":"2018-10-02
        17:38:49","trending_datetime":"0000-00-00 00:00:00","user":{"avatar_url":"https:\/\/media2.giphy.com\/avatars\/theglitchmob\/NFWhpPO9MdoD.gif","banner_url":"","profile_url":"https:\/\/giphy.com\/theglitchmob\/","username":"theglitchmob","display_name":"The
        Glitch Mob","is_verified":true},"images":{"fixed_height_still":{"url":"https:\/\/media1.giphy.com\/media\/oVaFnyYbeNlQ5gV8NW\/200_s.gif","width":"400","height":"200","size":"35247"},"original_still":{"url":"https:\/\/media1.giphy.com\/media\/oVaFnyYbeNlQ5gV8NW\/giphy_s.gif","width":"480","height":"240","size":"52754"},"fixed_width":{"url":"https:\/\/media1.giphy.com\/media\/oVaFnyYbeNlQ5gV8NW\/200w.gif","width":"200","height":"100","size":"2423672","mp4":"https:\/\/media1.giphy.com\/media\/oVaFnyYbeNlQ5gV8NW\/200w.mp4","mp4_size":"199612","webp":"https:\/\/media1.giphy.com\/media\/oVaFnyYbeNlQ5gV8NW\/200w.webp","webp_size":"1110228"},"fixed_height_small_still":{"url":"https:\/\/media1.giphy.com\/media\/oVaFnyYbeNlQ5gV8NW\/100_s.gif","width":"200","height":"100","size":"8043"},"fixed_height_downsampled":{"url":"https:\/\/media1.giphy.com\/media\/oVaFnyYbeNlQ5gV8NW\/200_d.gif","width":"400","height":"200","size":"184675","webp":"https:\/\/media1.giphy.com\/media\/oVaFnyYbeNlQ5gV8NW\/200_d.webp","webp_size":"33816"},"preview":{"width":"384","height":"192","mp4":"https:\/\/media1.giphy.com\/media\/oVaFnyYbeNlQ5gV8NW\/giphy-preview.mp4","mp4_size":"34672"},"fixed_height_small":{"url":"https:\/\/media1.giphy.com\/media\/oVaFnyYbeNlQ5gV8NW\/100.gif","width":"200","height":"100","size":"2543488","mp4":"https:\/\/media1.giphy.com\/media\/oVaFnyYbeNlQ5gV8NW\/100.mp4","mp4_size":"194201","webp":"https:\/\/media1.giphy.com\/media\/oVaFnyYbeNlQ5gV8NW\/100.webp","webp_size":"1110250"},"downsized_still":{"url":"https:\/\/media1.giphy.com\/media\/oVaFnyYbeNlQ5gV8NW\/giphy-downsized_s.gif","width":"384","height":"192","size":"34224"},"downsized":{"url":"https:\/\/media1.giphy.com\/media\/oVaFnyYbeNlQ5gV8NW\/giphy-downsized.gif","width":"384","height":"192","size":"1528502"},"downsized_large":{"url":"https:\/\/media1.giphy.com\/media\/oVaFnyYbeNlQ5gV8NW\/giphy-downsized-large.gif","width":"480","height":"240","size":"3928127"},"fixed_width_small_still":{"url":"https:\/\/media1.giphy.com\/media\/oVaFnyYbeNlQ5gV8NW\/100w_s.gif","width":"100","height":"50","size":"2377"},"preview_webp":{"url":"https:\/\/media1.giphy.com\/media\/oVaFnyYbeNlQ5gV8NW\/giphy-preview.webp","width":"312","height":"156","size":"49718"},"fixed_width_still":{"url":"https:\/\/media1.giphy.com\/media\/oVaFnyYbeNlQ5gV8NW\/200w_s.gif","width":"200","height":"100","size":"7932"},"fixed_width_small":{"url":"https:\/\/media1.giphy.com\/media\/oVaFnyYbeNlQ5gV8NW\/100w.gif","width":"100","height":"50","size":"463712","mp4":"https:\/\/media1.giphy.com\/media\/oVaFnyYbeNlQ5gV8NW\/100w.mp4","mp4_size":"43984","webp":"https:\/\/media1.giphy.com\/media\/oVaFnyYbeNlQ5gV8NW\/100w.webp","webp_size":"392788"},"downsized_small":{"width":"248","height":"124","mp4":"https:\/\/media1.giphy.com\/media\/oVaFnyYbeNlQ5gV8NW\/giphy-downsized-small.mp4","mp4_size":"154798"},"fixed_width_downsampled":{"url":"https:\/\/media1.giphy.com\/media\/oVaFnyYbeNlQ5gV8NW\/200w_d.gif","width":"200","height":"100","size":"39865","webp":"https:\/\/media1.giphy.com\/media\/oVaFnyYbeNlQ5gV8NW\/200w_d.webp","webp_size":"14348"},"downsized_medium":{"url":"https:\/\/media1.giphy.com\/media\/oVaFnyYbeNlQ5gV8NW\/giphy-downsized-medium.gif","width":"480","height":"240","size":"3287861"},"original":{"url":"https:\/\/media1.giphy.com\/media\/oVaFnyYbeNlQ5gV8NW\/giphy.gif","width":"480","height":"240","size":"19258424","frames":"450","mp4":"https:\/\/media1.giphy.com\/media\/oVaFnyYbeNlQ5gV8NW\/giphy.mp4","mp4_size":"676065","webp":"https:\/\/media1.giphy.com\/media\/oVaFnyYbeNlQ5gV8NW\/giphy.webp","webp_size":"3488646","hash":"5be55d0dc7c78c04560798a9e49e7690"},"fixed_height":{"url":"https:\/\/media1.giphy.com\/media\/oVaFnyYbeNlQ5gV8NW\/200.gif","width":"400","height":"200","size":"12141620","mp4":"https:\/\/media1.giphy.com\/media\/oVaFnyYbeNlQ5gV8NW\/200.mp4","mp4_size":"512988","webp":"https:\/\/media1.giphy.com\/media\/oVaFnyYbeNlQ5gV8NW\/200.webp","webp_size":"2628698"},"hd":{"width":"1920","height":"960","mp4":"https:\/\/media1.giphy.com\/media\/oVaFnyYbeNlQ5gV8NW\/giphy-hd.mp4","mp4_size":"75150635"},"looping":{"mp4":"https:\/\/media1.giphy.com\/media\/oVaFnyYbeNlQ5gV8NW\/giphy-loop.mp4","mp4_size":"854548"},"original_mp4":{"width":"480","height":"240","mp4":"https:\/\/media1.giphy.com\/media\/oVaFnyYbeNlQ5gV8NW\/giphy.mp4","mp4_size":"676065"},"preview_gif":{"url":"https:\/\/media1.giphy.com\/media\/oVaFnyYbeNlQ5gV8NW\/giphy-preview.gif","width":"164","height":"82","size":"43837"},"480w_still":{"url":"https:\/\/media3.giphy.com\/media\/oVaFnyYbeNlQ5gV8NW\/480w_s.jpg","width":"480","height":"240"}},"title":"GIF
        by The Glitch Mob","_score":50018.55,"analytics":{"onload":{"url":"https:\/\/giphy_analytics.giphy.com\/simple_analytics?response_id=5c7424c83762593851a9918c&event_type=GIF_SEARCH&gif_id=oVaFnyYbeNlQ5gV8NW&action_type=SEEN"},"onclick":{"url":"https:\/\/giphy_analytics.giphy.com\/simple_analytics?response_id=5c7424c83762593851a9918c&event_type=GIF_SEARCH&gif_id=oVaFnyYbeNlQ5gV8NW&action_type=CLICK"},"onsent":{"url":"https:\/\/giphy_analytics.giphy.com\/simple_analytics?response_id=5c7424c83762593851a9918c&event_type=GIF_SEARCH&gif_id=oVaFnyYbeNlQ5gV8NW&action_type=SENT"}}},{"type":"gif","id":"cEYFeDxIGaF12PW0qKQ","slug":"timcolmant-tim-colmant-cEYFeDxIGaF12PW0qKQ","url":"https:\/\/giphy.com\/gifs\/timcolmant-tim-colmant-cEYFeDxIGaF12PW0qKQ","bitly_gif_url":"https:\/\/gph.is\/1jNzukg","bitly_url":"https:\/\/gph.is\/1jNzukg","embed_url":"https:\/\/giphy.com\/embed\/cEYFeDxIGaF12PW0qKQ","username":"tim[...]
